<?xml version="1.0" encoding="UTF-8"?>
<nutricampus>
  <menu>
	<dia>2024-05-01</dia>
	<cafe>Café da Manhã 2024-05-01</cafe>
	<almoco>Almoço 2024-05-01</almoco>
	<lanche>Lanche 2024-05-01</lanche>
	<jantar>Jantar 2024-05-01</jantar>
  </menu>
  <menu>
	<dia>2024-05-02</dia>
	<cafe>Café da Manhã 2024-05-02</cafe>
	<almoco>Almoço 2024-05-02</almoco>
	<lanche>Lanche 2024-05-02</lanche>
	<jantar>Jantar 2024-05-02</jantar>
  </menu>
  <menu>
	<dia>2024-05-03</dia>
	<cafe>Café da Manhã 2024-05-03</cafe>
	<almoco>Almoço 2024-05-03</almoco>
	<lanche>Lanche 2024-05-03</lanche>
	<jantar>Jantar 2024-05-03</jantar>
  </menu>
  <menu>
	<dia>2024-05-04</dia>
	<cafe>Café da Manhã 2024-05-04</cafe>
	<almoco>Almoço 2024-05-04</almoco>
	<lanche>Lanche 2024-05-04</lanche>
	<jantar>Jantar 2024-05-04</jantar>
  </menu>
  <menu>
	<dia>2024-05-05</dia>
	<cafe>Café da Manhã 2024-05-05</cafe>
	<almoco>Almoço 2024-05-05</almoco>
	<lanche>Lanche 2024-05-05</lanche>
	<jantar>Jantar 2024-05-05</jantar>
  </menu>
</nutricampus>
