<?xml version="1.0" encoding="UTF-8"?>
<nutricampus>
  <menu>
	<dia>2024-05-01</dia>
	<cafe>Café da Manhã 2024-05-01</cafe>
	<almoco>Almoço 2024-05-01</almoco>
	<lanche>Lanche 2024-05-01</lanche>
	<jantar>Jantar 2024-05-01</jantar>
  </menu>
  <menu>
    <dia>Terça-Feira</dia>
    <cafe>Café da Manhã Terça</cafe>
    <almoco>Almoço Terça</almoco>
	<lanche>Lanche Terça</lanche>
    <jantar>Jantar Terça</jantar>
  </menu>
  <menu>
    <dia>Quarta-Feira</dia>
    <cafe>Café da Manhã Quarta</cafe>
    <almoco>Almoço Quarta</almoco>
	<lanche>Lanche Quarta</lanche>
    <jantar>Jantar Quarta</jantar>
  </menu>
  <menu>
    <dia>Quinta-Feira</dia>
    <cafe>Café da Manhã Quinta</cafe>
    <almoco>Almoço Quinta</almoco>
	<lanche>Lanche Quinta</lanche>
    <jantar>Jantar Quinta</jantar>
  </menu>
  <menu>
    <dia>Sexta-Feira</dia>
    <cafe>Café da Manhã Sexta</cafe>
    <almoco>Almoço Sexta</almoco>
	<lanche>Lanche Sexta</lanche>
    <jantar>Jantar Sexta</jantar>
  </menu>
</nutricampus>
