* {
	box-sizing: 0px;
}

nav, header, main, aside, footer {
	background-color: #8E7CC3;
	text-align: center;
	margin-bottom: 5px;
	padding: 5px;
	color: #fff;
}

nav {
	height: 40px;
}

header {
	height: 100px;
}

main, aside {
	min-height: 450px;
}

main {
	width: 73%;
	margin-right: 1%;
	float: left;
}

section {
	margin-top: 20px;
	width: 100%;
	height: 200px;
	background-color: #B4A7D6;
}

aside {
	width: 23%;
	float: right;
}

footer {
	clear: both;
	height: 60px;
}

body {
	text-align: center;
	color: seagreen;
	font-size: 16px;
}

p {
	text-align: right;
}

.retangulo {
	width: 400px;
	height: 200px;
	border: 1px solid red;
	background-color: #eee;
	padding: 10px;
	margin:5px;
}